div {
    background: rgb(0, 0, 0);
}
#generalContainer {
    height: 100vh;
    display: grid;
    gap: 1rem;

    grid-template:
    "nav aside header" 10rem
    "nav aside main" auto
    "nav aside footer" 4rem /
    9rem 9rem auto;
}

.wrapper {
    border-radius: 1rem;
}

header {
    grid-area: header; 
    display: flex;
    justify-content: right;
    border: .2rem solid royalblue;
    background: white;
}

#pageImage {
    height: 7rem;
}

header #pageImage {
    height: 7rem;
    width: 8.5rem;
    border-radius: 50%;
}
nav {
    grid-area: nav;
    border: 1rem solid rgb(224, 5, 5);
    background: white;
}
.cocacola {
    border: 0.1rem solid mediumaquamarine;
}
.vinotinto {
    border: 0.1rem solid black;
    /* height: 1rem  */
}
aside {
    grid-area: aside;
    border: 1rem solid mediumblue;
    background: white;
}
main {
    grid-area: main;
    border: 1rem solid rgb(255, 255, 255);
    background: white;
}
footer {
    grid-area: footer;
    border: 1rem solid gray;
    background: white;
}